<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
</head>
<body>
    <h2>Edit Your Post</h2>
    <br>
    <p>Message Id : <%=chats.id%> </p>
    <form method="POST" action="/chats/<%=chats.id%>?_method=PUT">
        <p>From : <%=chats.from%></p>
        <textarea name="message" rows="10" cols="50"> <%=chats.message%></textarea>
        <p>Reciever : <%=chats.to%></p>
        <button>Submit</button>
      </form>
</body>
</html>